@font-face {
font-family: HelveticaNeueLTStd47Light;
src: url(fonts/HelveticaNeueLTStd-LtCn_0.otf);
}

@font-face {
font-family: BasicTitle;
src: url(fonts/basictitlefont.ttf);
}

@font-face {
font-family: HelveticaNeueLTStdUltraLight;
src: url(fonts/HelveticaNeueLTStd-UltLt_0.otf);
}


@font-face {
font-family: HelveticaNeueLTStdUltraLight27;
src: url(fonts/HelveticaNeueLTStd-UltLtCn_0.otf);
}

@font-face {
font-family: HelveticaNeueLTStdBold;
src: url(fonts/HelveticaNeueLTStd-BdCn_0.otf);
}


















