/* BE SURE TO INCLUDE THE CSS RESET FOUND IN THE DEMO PAGE'S CSS */

/*------------------------------------*\
    NAV
\*------------------------------------*/
.nav{
 float: left;
 
list-style: none outside none;
margin-bottom: 10px;
padding-left: 41px;
padding-top: 18px;
width: 100%;
    /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
}
.nav li{
color: #fff;
float: left;
font-family: HelveticaNeueLTStd47Light !important;
font-size: 16px;
margin-right: 70px;
position: relative;
text-transform: uppercase;
}
.nav a{
    display:block;
    padding:5px;
    color:#fff;
  
    text-decoration:none;
}
.nav a:hover
{
    color:#808080;
    
    text-decoration:underline;
}

/*--- DROPDOWN ---*/
.nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
.nav ul li{
  float: none;
padding-top: 1px;
text-align: center;
z-index: 10000;
    
}
.nav ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
     color:#b79e73;
}
.nav li:hover ul{ /* Display the dropdown on hover */
  
    color:#957b4e;
   
    left:0; /* Bring back on-screen when needed */
}
.nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
   
    text-decoration:underline;
}
.nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
        background:#f3efe8; 
    
    text-decoration:none;
}
.nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#f3efe8; 
    color:#808080;
}


.fixing_right_menu{
	margin-right: 47px !important;
}
